// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.comment-index {
  padding: 10px 0;

  ul {
     list-style: none;
     padding: 0;

     li {
       max-width: 20vw;
       min-width: 200px;
       padding: 10px;
       border-bottom: 1px solid @tab-border-color;
       white-space: nowrap;

       .comment__content {
         float: left;
         width: 85%;
         overflow: hidden;
         text-overflow: ellipsis;

         color: @text-color;
       }

       .comment__number {
         float: right;
         text-align: right;
         width: 15%;

         color: @text-color-subtle;
       }

       &:after {
         content: "";
         display: block;
         clear: both;
       }
     }
  }
}
